<html>
<head>
    <meta charset="UTF-8">
    <title>START</title>
    <link rel="stylesheet" href="/css?file=style.css" type="text/css" />
</head>
<body>
    <h1>Upload</h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <label for="name">new file name</label>
        <input type="text" name="name">
        <br><br>
        <label id="drop-zone-wrapper" for="upload">
            <span class="drop-zone__span">Drag and drop your file here<br> or click to choose</span>
            <input id="drop-zone" type="file" name="upload" >
        </label>
        <br>
        <input type="submit" value="upload">
    </form>

    <!-- scripts -->
    <script src="/js?file=dragndrop.js"></script>
</body>
</html>